/**
 * Variables
*/
/* Typography */
/* Breakpoints */
/* Paths */
/* Grid setup */
/* Colour palette */
$black: #000;
$white: #fff;
$highlight: #03ff95;
$error: rgb(255, 0, 170);
/* Components */

$top: 7vw;
$topDestop: 3vw;

$basePadding: 44px;
$mobilePadding: 16px;
$ease: cubic-bezier(0.25, 0.1, 0.25, 1);

/* THE END OF THE WORLD HALLOWEEN BASH at the First Lady haunted house in Gamla Stan Thursday 31/10 17-22   */
